mat-card {
    padding: 16px 16px 24px 16px;
    margin: 24px;

    mat-card-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        font-family: "Inter", sans-serif;
    }

    .no-data {
        text-align: center;
        margin-top: 20px;

        img {
            max-width: 100%;
            height: auto;
            margin-bottom: 16px;
        }

        p {
            font-size: 1.2em;
            color: #757575;
        }
    }

    .table-container {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        mat-table {
            min-width: 900px;
            animation: fadeIn 0.5s;

            .example-element-detail {
                overflow: hidden;
                display: flex;
                flex-direction: column;

                div {
                    margin: 16px;
                }
            }


            .mat-column-actions {
                display: flex;
                gap: 8px;
            }

            .element-row:hover {
                background-color: #f5f5f5;
            }

            .detail-row {
                min-height: 0;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}